


    <section id="FOOTER">

            <div class="footer-section">
                    
                            <!-- Info of developer -->
                    <div class="dev-info">
                        <h1> <b>Sujan Rai </b></h1>
                        <h2><small> Full-Stack Developer </small></h2>
                    </div>

                            <!-- Developer Social Media -->
                    <div class="dev-socialMedia">
                        <ul>
                            <li> <a href="https://www.facebook.com/sujan.rai.92202/"> <i class="fa-brands fa-facebook-f"></i> </a> </li>
                            <li> <a href="https://www.instagram.com/sujan_rai_426/"> <i class="fa-brands fa-instagram"></i>  </a> </li>
                            <li> <a href="https://www.linkedin.com/in/sujan-rai-18a07b2a6/">  <i class="fa-brands fa-linkedin"></i>  </a> </li>
                            <li> <a href="https://www.youtube.com/@sr_studio_426.">  <i class="fa-brands fa-youtube"></i>   </a> </li>
                        </ul>
                    </div>

                            <!-- Other links -->
                    <!-- <div class="extra-link">
                        <a href="#"><li> Visit Here </li></a>
                    </div> -->
            </div>
            <h1><small><i> © Sujan Rai. All right reserved </i></small></h1>

    </section>