



<nav>
    <!-- Left side of navbar -->
    <div class="nav-left">
        <h3><a href="https://www.sujan140.com.np/admin">SUJAN</a></h3>
    </div>



    <div>
        <!-- SIDE BAR ACTIVE or on button -->
        <input type="checkbox"  id="sidebar-active">
                <label id="overlay" for="sidebar-active" class="open-sidebar-button">
                    <i class="fa-solid fa-bars"></i>
                </label>

        <!-- Right side of navbar -->
        <div class="nav-right">
            <!-- Side bar off or deative button -->
            <label for="sidebar-active" class="close-sidebar-button"> <i class="bi bi-x-lg"></i> </label>

            
                <a href="#HOME">  <li> <i class="fa-solid fa-house"></i>  Home</li> </a>
                <a href="#ABOUT">  <li> <i class="fa-solid fa-circle-info"></i>  About</li> </a>
                <a href="#SKILL">  <li> <i class="bi bi-rocket-fill"></i>  Skills</li>  </a>
                <a href="#EDUCATION">  <li> <i class="bi bi-mortarboard-fill"></i>  Education</li> </a>
                <!-- <a href="#SERVICE">  <li><i class="fa-solid fa-briefcase"></i> Services</li> </a> -->
                <a href="#PROJECT">  <li> <i class="bi bi-person-workspace"></i>  Projects</li> </a>
                <a href="#CONTACT-ME"> <li> <i class="bi bi-person-lines-fill"></i>  Contact </li></a>
            
        </div>
    </div>

</nav>




