
@media (max-width:799px){
    
    /* UTILITY CLASS */
    hr{
        border: 0;
        height: 1.3px;
        margin: 50px 20px;
    }
    .section-primary-heading{
        color: gray;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        margin-bottom: 2px;
        margin-top: 8px;
    }
    .section-secondary-heading{
        color: gray;
        font-size: .8rem;
        margin-bottom: 10px;
    }
    .text-Primary-heading{
        font-size: 1.2rem;
        letter-spacing: 1px;
        word-spacing: 1.3px;
        color: gray;
        margin-top: 3px;
    }
    .text-Secondary-heading{
        font-size: .8rem;
        letter-spacing: 1.1px;
        color: gray;
    }
    
    /* === Toggle button === */
    #toggle-switch-label{
        z-index: 11;
        position: fixed;
        left : .9vw;
        top: 1.2vh;

        width: 50px;
        height: 26px;
        display: block;
        background: #ebebeb;
        border-radius: 200px;
        box-shadow: inset 0px 6px 18px rgba(0, 0, 0, 0.4), inset 0px -6px 18px rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }


/* --------------------------------Navbar + Sidebar Section---------------------------------- */
    nav{
        display: flex;
        color: rgb(5, 23, 26);
        z-index: 10;
        
    }
    nav .nav-left{
        font-size: 1.4rem;
        letter-spacing: 2px;
        padding: 3px;
    }
    nav .nav-left:hover{
        font-size: 1.36rem;
        letter-spacing: 2px;
        padding: 3px;
        color: blueviolet;
    }
    .nav-right {
        /* color: rgb(30 181 127); */
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -100%;
        z-index: 10;
        width: 40vw;
        height:100%;
        transition: .5s ease-out;
        font-size: 1rem;
        padding: 3px;
        color: #afafb6;
        /* for glassy transparent effect  */
        background: linear-gradient(135deg,  rgb(18, 19, 20), rgba(54, 166, 176, 0.1));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    }
    .nav-right a{
        height: auto;
        width: 100%;
        justify-content: flex-start;
    }
    .nav-right a li{
        padding: 15px 0;
        font-size: 1rem;
    
    }
    .open-sidebar-button{
        font-size: 1.5rem;
        padding: 5px;
        margin-left: 100%;
        border-radius: 2px white;
        z-index: 9;
    }
    .close-sidebar-button{
        margin-top: 10px;
        padding: 5px;
    }
    .close-sidebar-button i{
        font-size: 1.5rem;
        align-items: center;
        margin-left: 20px ;
        font-weight: 500;
        left: 0;
    }
    .open-sidebar-button, .close-sidebar-button{
        display: block;
    }
    #sidebar-active:checked ~ .nav-right{
        right:0;
        top: -13px;
        transition: .4s;
        display: block;
    }
    #sidebar-active:checked ~ .nav-right label{
        display: flex;
    }
    #sidebar-active:checked ~ .nav-right a{
        display: flex;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    /* Alert Message */
    .success-msg{
        margin-top: 48px;
        padding: 10px 0;
        text-align: center;
    }
    .error-msg{
        margin-top: 48px;
        padding: 10px 0;
        text-align: center;
    }


/* --------------------------------Home Section---------------------------------- */
    #HOME{
        padding: 40px 0 0 0;
        margin: 0;
    }
    .home-section{
        height: auto;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .home-section .home-left{
        width: 95%;
        text-align: left;
        font-size: 1.5rem;
        padding: 5px 30px;
        }
    .home-section .home-left div{
        margin-top: 8px;
        font-size: 1rem;
    }
    .home-section .home-right{
        margin-top: 10px;
        width: 80%;
        padding: 20px 0;
        order: -1;
        }
    .home-section .home-right img{
        height: 250px;
        width: 250px;
        margin: 5px;
    }




/* --------------------------------About Section---------------------------------- */
    #ABOUT{
        padding: 39px 0 0 0;
    }
    .about-section{
        padding: 0 25px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
            .about-left{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;
                padding: 15px 0;
            }
                    .about-left img{
                        height: 200px;
                        width: 240px;
                        border-radius: 20%;
                    }
                    .about-left img:hover{
                        box-shadow: 2px 2px 15px purple;
                        
                    }
            .about-right{
                width: 90%;
                font-size: 1rem;
                font-weight: 400;
                padding: 10px;
            }



    /* --------------------------------Skill Section---------------------------------- */
    #SKILL{
        width: 100%;
        padding: 39px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skill-section{
        width: 92%;
        padding: 0 1px;
        border: none;
        margin: 5px 0px;
    }
    .skill-section .skill-level li {
        list-style: none;
        margin: 19px 15px;
        font-weight: 100;
    }
    .bar {
        height: 4px;
        margin-top: 3.3px;
    }
    .bar-fill {
        height: 3.5px;
    }
    .skill-level {
        text-align: left;
        padding: 1px 1px;
        margin: 0;
        flex-direction: row;
    }
    .Front-End-Skill, .Back-End-Skill{
        margin: 3px 2.5px 3px 2.5px;
        padding-top: 5px;
    }




/* ------------------------Education or Qualification Section---------------------- */
    #EDUCATION {
        width: 100%;
        padding: 38px 0 0 0;
    }
    .education-section{
        padding-bottom: 0;
        width: 90%;
    }
    .timeline{
        margin: 50px auto 0 auto;
        width: 100%;
        z-index: 0;
    }
    .timeline::after{
        left: 33px;
        background: rgb(222, 222, 222);
        mix-blend-mode: difference;
        box-shadow: .7px .7px 4px rgb(30, 181, 166);
    }
    .education_container{
        width: 100%;
        padding: 13px 19px 20px 75px;;
    }
    .text-box .education-detail a{
        font-size: 1.1rem;
        margin-inline: 2px;
    }
    .text-box{
        width: 100%;
        font-size: .7rem;
        padding: 13px 25px;
        border-radius: 15px;
    }
    .right-container{
        left: 0;
    }
    .right-container img, .left-container img{
        left: 15px;
        width: 32px;
        background: rgb(222, 222, 222);
        box-shadow: 1px 1px 3px rgb(30, 181, 166);
    }
    .left-container-arrow, .right-container.arrow{
        border-left: 0;
        border-right: 15px solid #fff;
        left: -15px;
    }



    /* --------------------------------Projects Section---------------------------------- */
    #PROJECT{
        width: 100%;
        padding: 0;
    }
    .project{
        padding: 0 30px 0 30px;
    }
    .project-container {
        max-width: 100%;
        padding: 38px 0px 5px 0;
    }
    .card-slider {
        height: auto;
        padding:0;
        width: auto;
    }
    .card-slide {
        width:auto;
    }
    .card{
        height: auto;
        width: 60vw;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 15px;
        z-index: 0;
        padding-bottom: 17px;
    }
    .card img{
        width: 100%;
        aspect-ratio: 1.4/1;
        padding: 2px;
    }
    .card-detail{
        text-align: justify;
        padding: 5px 0px;
    }
    .card-detail h2{
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
        padding-bottom: .5rem;
        font-family: 'bootstrap-icons';
    }
    .card-detail p b{
        text-align: left;
        font-size: .9rem;
        padding-top: .7rem;
    }
    .card-detail p{
        padding-top: .1rem;
        font-size: .93rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        font-weight: 300;
        font-family: 'IBM Plex Sans';
    }
    .card-detail div{
        display: flex;
        justify-content: center;
    }
    .card-detail div .btn{
        padding: 5px 7px;
        margin: .9rem 0;
    }
    .card-slider-control .slider-arrow {
        display: none;
    }
    .card-slider-control .swiper-pagination {
        bottom: 2.7rem;
    }



/* --------------------------------Contact Me Section---------------------------------- */
    #CONTACT-ME{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px 0 0 0;
        margin: 0;
    }
    .contact-section{
        margin: 0;
        width: 90%;
        flex-direction:column;
        padding: 0 20px;
    }
    /* Dev info side */
    .contact-section .contact-left{
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content:top;
        position: relative;
        flex-wrap:wrap;

    }
    .contact-section .contact-left::before{
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        left: 10%;
        top: 0;
        transform: translateY(-80%);
        background: #afafb6;
    }
    .contact-section .contact-left .address-detail, .phone-detail, .email-detail{
        padding: 10px 15px;
        height: 15vh;
    }
    .contact-section .contact-left .address-detail i , .phone-detail i , .email-detail i {
        font-size: 1.1rem;
        color: #4912e4;
    }
    .contact-section .contact-left .address-detail h1, .phone-detail h1, .email-detail h1{
        font-weight: 600;
        font-size: .8rem;
        
    }
    .contact-section .contact-left .address-detail p , .phone-detail p , .email-detail p {
        font-size: .6rem;
        color: white;
    }
    
    /* Form Side */
    .contact-section .contact-right{
        width: 100%;
        order:-1;
    }
    .contact-section .contact-right h1{
        font-size: 1.1rem;
    }
    .contact-section .contact-right p{
        font-size: .9rem;
        color: white;
        width: 100%;
        margin-bottom: 45px;
    }    


    /* Footer Section */
    #FOOTER{
        padding: 20px 15px;
    }
    #FOOTER h1{
        font-size: 1.3rem;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
    }
    .footer-section .dev-info{
        padding-left: 15px;
        margin: 8px 0;
    }
    .footer-section .dev-info h1{
        font-size: 1.5rem;
    }
    .footer-section .dev-info h2{
        font-size: 1rem;
    }
    .footer-section .dev-socialMedia {
        padding-left: 15px ;
        margin: 5px 0;
        order: -1;
    }
    .footer-section .dev-socialMedia ul a{
        font-size: 1.5rem;
        letter-spacing: 2.5vw;
    }
    
    /* .footer-section .extra-link{
        font-size: 1rem;
        order: -2;
    } */

}