

@media (min-width: 799px) and (max-width: 1225px) {

    #toggle-switch-label{
        top: 15vh;
    }


/*================= UTILITY CLASS====================== */
    .btn{
        border-radius: 10px;
        padding: 10px 9px;
        font-size: .95rem;
        font-weight: 300;
        margin-top: 20px ;
        margin-right: 20px;
    }
    .btn:hover{
        padding: 10px 9px;
        font-size: .85rem;
    }
    hr{
        border: 0;
        height: 1.3px;
        margin: 50px 40px;
    }
    .text-Primary-heading{
        font-size: 1rem;
        margin-top: 3px;
    }
    .text-Secondary-heading{
        font-size: .95rem;
        margin-top: 3px;
    }


    /* --- Toggle switch --- */
    #toggle-switch-label{
        top: 10vh;
    }
/* --------------------------------Navbar Section---------------------------------- */
    nav{
        max-width: 100vw;
        background-color: rgb(0, 221, 203);
        left: 0;
        right: 0;
        top: 0;
    }
    .nav-left{
        font-size: 1.4rem;
    }
    .nav ul a{
        padding: 4px 0;
    }
    nav li {
        list-style: None;
        margin: 0 16px;
        font-size: 1.1rem;
    }
    

    /* Alert Message */
    .success-msg{
        margin-top: 58px;
        padding: 6px 15px;
    }
    .error-msg{
        margin-top: 58px;
        padding: 6px 15px;
    }

/* --------------------------------Home Section---------------------------------- */
    #HOME{
        padding-top: 120px;
    }
    .home-section{
        height: auto;
        padding: 20px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .home-left{
        width: 49%;
        text-align: left;
        font-size: 1.5rem;
        padding: 30px 0;
        }
    .home-left div{
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .logo-home ul li{
        margin-right: 30px;
    }
    .logo-home ul li a{
        font-size: 1.4rem;
    }
    .logo-home ul li a:hover{
        font-size: 1.5rem;
    }

    .home-right{
        width: 49%;
        padding: 20px 0;
        }
    .home-right img{
        height: 300px;
        width: 300px;
        margin: 10px;
    }




/* --------------------------------About Section---------------------------------- */
    #ABOUT{
        padding: 60px 0px;
    }
    .about-section{
        padding: 20px 30px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
            .about-left{
                display: flex;
                /* align-items: center; */
                justify-content: center;
                align-items: center;
                width: 45%;
            }
                    .about-left img{
                        height: 240px;
                        width: 270px;
                        border-radius: 20%;
                    }
                    .about-left img:hover{
                        box-shadow: 2px 2px 15px purple;
                        
                    }
            .about-right{
                width: 50%;
                font-size: 1rem;
                font-weight: 400;
                padding: 10px;
            }





/* --------------------------------Skill Section---------------------------------- */
    #SKILL{
        width: 100%;
    }
    .skill-section{
        width: 85%;
        padding: 0 1px;
    }
    .skill-level {
        text-align: left;
        padding: 1px 5px;
        margin: 0 5px;
        flex-direction: row;
    }
    .Front-End-Skill, .Back-End-Skill{
        margin: 3px 2.5px 3px 2.5px;
        padding-top: 5px;
    }



/* --------------------------------Qualification Section---------------------------------- */
    #EDUCATION{
        width: 99%;
        padding: 70px 5px 0px 5px;
    }
    .timeline{
        width: 100%;
        margin: 50px 0 0 0;
    }
    .education_container{
        width: 62%;
        padding: 10px 35px;
    }
    .text-box{
        width: 72%;
        padding: 15px 20px;
        font-size: .75rem;
        border-radius: 12px;
    }
    .education_container img{
        right: 16.9%;
        width: 30px;
    }
    .right-container{
        left: 51%;
    }
    .right-container img{
        left: -5.24%;
    }
    .timeline::after{
        width: 3px;
    }


/* --------------------------------Services Section---------------------------------- */
    #ACHIVEMENT {
        max-width: 80%;
        padding: 5vh 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .achivement{
        padding: 0 20px;
    }
    .achivement-card{
        height:35vw;
        width: 44vw;
    }



/* --------------------------------Projects Section---------------------------------- */
    #PROJECT{
        width: 100%;
        padding: 30px 0 0 0;
    }
    .project-container {
        max-width: 100%;
        padding: 38px 0px 5px 0;
    }
    .card-slider {
        height: auto;
        padding:0;
        width: auto;
    }
    .card-slide {
        width: auto;
    }
    .project-card{
        height: auto;
        width: 35vw;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        z-index: 0;
        padding-bottom: 17px;
    }
    .project-card img{
        width: 100%;
        aspect-ratio: 1.4/1;
        padding: 2px;
    }
    .project-card-detail{
        padding: 10px 30px 0 30px;    
    }
    .project-card-detail h1{
        font-size: .9rem;
        text-align: left;
        font-weight: 400;
    }
    .project-card-detail p{
        padding-top: .7rem;
        text-align: left;
        font-weight: 300;
    }
    .project-card-detail .btn{
        padding: 5px 5px;
        font-size: 1.2rem;
    }
    /* .card-slider-control .slider-arrow {
        display: none;
    }
    .card-slider-control .swiper-pagination {
        bottom: 2rem;
    } */





/* --------------------------------Contact Me Section---------------------------------- */
    #CONTACT-ME{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-section{
        width: 100%;
    }
    .contact-section .contact-left{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-section .contact-left::before{
        content: '';
        position: absolute;
        height: 80%;
        width: 2px;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        background: #afafb6;
    }
    .address-detail, .phone-detail, .email-detail{
        padding: 10px 15px;
        height: 15vh;
    }
    .contact-section .contact-left .address-detail i, .phone-detail i, .email-detail i{
        font-size: 1.5rem;
        color: #4912e4;
    }
    .contact-section .contact-left .address-detail h, .phone-detail h, .email-detail h1{
        font-weight: 400;
        font-size: 1rem;
    }
    .contact-section .contact-left .address-detail p, .phone-detail p, .email-detail p{
        font-size: .7rem;
        color: rgb(198, 198, 198);
    }
    
    .contact-section .contact-right{
        width: 70%;
    }
    .contact-section .contact-right h1{
        font-size: 1.4rem;
    }
    .contact-section .contact-right p{
        font-size: .8rem;
        color: rgb(222, 222, 222);
        width: 100%;
        margin-bottom: 45px;
        padding: 0 5%;
    }    

        /* ---------------Contact Form STYLING--------------- */
    /*  For other input field in contact form*/
    .form-label1{
        height: 4vh;
        width: 100%;
    }
    /* For main message input in contact form  */
    .form-label2{
        height: 10vh;
        width: 100%;
    }


}