

<!-- HTML FORM FOR MESAGE RECEIVE IN OUR EMAIL FORM CONTACT SECTION OF OUR WEBSITE APP -->

<br>
<h1 style="text-align: center; color: red; font-weight: 600;"> www.sujan140.com.np  </h1>
<h3 style="text-align: center;">Contact form submission</h3>
<br>
<br>

<p> <b> Name: </b> <p style="color: blueviolet; font-size: 1rem"> {{name}} </p> </p>
<br>

<p> <b> Email: </b> <p style="color: blueviolet; font-size: 1rem"> {{email}} </p> </p>
<br>

<p> <b> Subject: </b> <p style="color: blueviolet; font-size: 1rem"> {{subject}} </p> </p>
<br>

<p> <b> Message: </b> <p style="color: blueviolet; font-size: 1rem"> {{message}} </p> </p>
<br>

<hr>
<br>
<br>